{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off", // FIXME: remove
    "@typescript-eslint/explicit-module-boundary-types": "off", // FIXME: remove
    "@typescript-eslint/no-explicit-any": "off", // FIXME: remove
    "@typescript-eslint/semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }]
  }
}
